Версия на Pyhon: Python 3.14.0

Използвани библиотеки: Pygame 2.5.7 community edition
Изполвани шрифтове: 'DePixel'
Изтеглете Depixel.zip и отворете zip файла.
Намерете шрифта с името DePixelHalbfett.ttf и го изтеглете.

pip install pygame-ce
python -m pip install pygame-ce
pip3 install pygame-ce
python3 -m pip install pygame-ce
py -m pip install pygame-ce